<div class="site-footer">
    <div class="inner first">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h3 class="heading">About Tour</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 pl-lg-5">
                    <div class="widget">
                        <h3 class="heading">Pages</h3>
                        <ul class="links list-unstyled">
                            <li><a routerLink="/guest/home">Home</a></li>
                            <li><a routerLink="/guest/about">About</a></li>
                            <li><a routerLink="/guest/contactus">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">

                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h3 class="heading">Contact</h3>
                        <ul class="list-unstyled quick-info links">
                            <li class="email"><a href="#">{{home.contactInfo[0].contactemail}}</a></li>
                            <li class="phone"><a href="#">{{home.contactInfo[0].contactphone}}</a></li>
                            <li class="address"><a href="#">{{home.contactInfo[0].contactaddress}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="inner dark">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 mb-3 mb-md-0 mx-auto">
                    <p>Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
                        Designed with love by <a href="https://untree.co" class="link-highlight">Untree.co</a>
                        <!-- License information: https://untree.co/license/ -->Distributed By <a
                            href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>