<!-- Sing in  Form -->
<div class="main">
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="../../../assets/LogReg/images/signin-image.jpg" alt="sign up image"></figure>
          <a routerLink="/security/airlinelogin" class="signup-image-link">Login as Airline</a>
          <a routerLink="/security/register" class="signup-image-link">Create an account</a>
        </div>

        <div class="signin-form">
          <h2 class="form-title">User Sign in</h2>
          <form method="POST" class="register-form" id="login-form">
            <div class="form-group">
              <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="your_name" id="your_name" placeholder="Your Username" [(ngModel)]="user_name"
                [formControl]="username" />
              <span *ngIf="username.hasError('required')" style="color:red;">Username is required</span>
            </div>
            <div class="form-group">
              <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
              <input type="password" name="your_pass" id="your_pass" placeholder="Password" [(ngModel)]="pass"
                [formControl]="password" />
              <span *ngIf="password.hasError('required')" style="color:red;">Password is required</span>
            </div>
            <div class="form-group">
              <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" [(ngModel)]="rememberMe" />
              <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
            </div>

            <div class="form-group form-button">
              <!-- <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" /> -->
              <button class="form-submit btn" type="button" [disabled]="!username.valid || !password.valid"
                (click)="onSubmitLogin()">Log in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>