<app-sidebar></app-sidebar>
<div class="content">
    <app-navbar></app-navbar>

    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h1 class="mb-0">Contact Messages</h1>
            </div>
            <div class="table">
                <table class="table ">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">Full Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of ContactMessages">
                            <td>{{obj.firstname}} {{obj.lastname}}</td>
                            <td>{{obj.email}} </td>
                            <td>{{obj.message}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>