<app-sidebar></app-sidebar>
<div class="content">>
    <app-navbar></app-navbar>

    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h1 class="mb-0">Users That Have Partners</h1>
                <!-- <a href="">Show All</a> -->
            </div>
            <div class="table">
                <table class="table ">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Date of Birth</th>
                            <th scope="col">nationalnumber</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of UsersWithPartners">
                            <td>{{obj.firstname}}</td>
                            <td>{{obj.lastname}}</td>
                            <td>{{obj.username}}</td>
                            <td>{{obj.email}}</td>
                            <td>{{obj.phone}}</td>
                            <td>{{obj.dateofbirth |date}}</td>
                            <td>{{obj.nationalnumber}}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" (click)="OpenPartnersDialog(obj.id)">Partners</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #callPartnersDailog>
    <h2 mat-dialog-title>Partners</h2>
    <mat-dialog-content class="mat-typography">
        <div class="container">
            <mat-list>
                <ng-container *ngFor="let item of Partners">
                    <mat-list-item>
                        <mat-icon matListItemIcon>person</mat-icon>
                        <div matListItemTitle>{{ item.partnerFirstName }} {{ item.partnerLastName }}</div>
                        <div matListItemLine>nationalNumber: {{ item.nationalnumber }}</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>

                </ng-container>

            </mat-list>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</ng-template>

<app-footer></app-footer>